lib/hsk_standard_course_vocab
lib/hsk_standard_course_vocab
qwen/node_modules/*
qwen/node_modules/.bin/openai
qwen/output/*
qwen/input/*
qwen/missing-items/*
qwen/dictionary/output*/*
supabase/dictionary/import/*
supabase/dictionary/output/*
supabase/dictionary/node_modules/*
./node_modules/*
qwen/dictionary/missing-items/*
qwen/dictionary/logs/*
.gitignore
qwen/dictionary/missing-items-processed-parallel/*
qwen/dictionary/backup-20250805_064847/*
node_modules/*
qwen/dictionary/backup-enhanced*/